{
  "Head": {
    "Timestamp": {{ timestamp }}
  },
  "Body": {
     "PAC": {
        "Values": [
          {{ current_power_in }},
          {{ current_power_out }},
          {{ current_counter_in }},
          {{ current_counter_out }}
        ]
     }
  }
}